.container {
    margin-top: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.title h1 {
    font-size: 400%;
}

.subtitle p {
    font-size: 200%;
}

.add-bot a {
    font-size: 200%;
    -webkit-animation: add-bot-button 1s infinite;
            animation: add-bot-button 1s infinite;
    font-weight: 700;
    text-decoration: underline;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.add-bot a:hover {
    font-size: 210%;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

@-webkit-keyframes add-bot-button {
    0% {
        color: #00FFA6;
    }

    50% {
        color: #02A4FF;
    }

    100% {
        color: #00FFA6;
    }
}

@keyframes add-bot-button {
    0% {
        color: #00FFA6;
    }

    50% {
        color: #02A4FF;
    }

    100% {
        color: #00FFA6;
    }
}