.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100;
    height: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin-top: 5%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

.container .pdp {
    border-radius: 50%;
    width: 128px;
    height: 128px;
}

.container .social {
    margin-top: 10%;
    width: 200px;
    height: auto;
}

.container .social img {
    width: 50px;
    height: 50px;
    margin: 0 2%;
}

.container .social img:hover {
    opacity: 0.5;
}

.container .social p {
    font-weight: 500;
}

.container h3  {
    -webkit-animation: rainbow 1s infinite;
            animation: rainbow 1s infinite;
}

@-webkit-keyframes rainbow {
    0% {
        color: #02A4FF;
    }

    50% {
        color: #00FFA6;
    }

    100% {
        color: #02A4FF;
    }
}

@keyframes rainbow {
    0% {
        color: #02A4FF;
    }

    50% {
        color: #00FFA6;
    }

    100% {
        color: #02A4FF;
    }
}
