.sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1%;
    background-color: #000918;
    width: 20%;
    position: absolute;
    top: 30%;
    bottom: -950%;
}

.sidebar a {
    text-align: center;
    padding: 10% 0;
    position: relative;
    left: -5%;
    top: -2.6%;
    margin-right: -10.5%;
    color: #ccc;
    font-size: 120%;
    width: 115%;
}

.sidebar a:first-child {
    margin-top: 42%;
    width: 110.8%;
    background-color: #000918;
}

.sidebar a:hover {
    background-color: #00102A;
    color: #fff;
}

@media only screen and (max-width: 750px) {
    .sidebar {
        width: 50%;
        height: auto;
        position: static;
        margin-top: 20%;
        padding: 1%;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        text-align: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        border-radius: 10px;
    }

    .sidebar a {
        font-size: 150%;
        position: relative;
        padding: 10%;
        color: #ccc;
        width: 100%;
    }

    .sidebar a:first-child {
        margin-top: 0;
        width: 100%;
    }

    .sidebar a:hover {
        color: #fff;
        background-color: transparent;
    }
}

@media only screen and (max-width: 480px) {
    .sidebar {
        width: 70%;
    }

    .sidebar a {
        width: auto;
    }
}

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 80%;
    margin-left: 20%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin-top: 5%;
}

.container p {
    font-weight: 700;
}

.container hr {
    width: 50%;
    color: grey;
    opacity: 0.5;
}

.container img {
    width: 30%;
    margin-top: 1%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    border-radius: 10px;
}

@media only screen and (max-width: 1350px) {
    .sidebar {
        bottom: -480%;
    }
}

@media only screen and (max-width: 1070px) {
    .container img {
        width: 40%;
    }
}

@media only screen and (max-width: 1270px) {
    .sidebar {
        bottom: -450%;
    }
}

@media only screen and (max-width: 1150px) {
    .sidebar {
        bottom: -410%;
    }
}

@media only screen and (max-width: 1070px) {
    .sidebar {
        bottom: -480%;
    }
}

@media only screen and (max-width: 990px) {
    .sidebar {
        bottom: -450%;
    }
}

@media only screen and (max-width: 900px) {
    .sidebar {
        bottom: -410%;
    }
}

@media only screen and (max-width: 830px) {
    .sidebar {
        bottom: -380%;
    }
}

@media only screen and (max-width: 750px) {
    .container {
        width: 100%;
        margin-left: 0;
    }

    .container img {
        width: 50%;
    }
}

@media only screen and (max-width: 500px) {
    .container img {
        width: 70%;
    }
}

@media only screen and (max-width: 320px) {
    .container img {
        width: 90%;
    }
}