@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

*, *::before, *::after {
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    font-family: 'Montserrat', sans-serif;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #00102A;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4 {
    color: #fff;
}

p, span {
    color: #ccc;
}

.topbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: auto;
}

.topbar .logo {
    width: 150px;
    height: 150px;
    position: absolute;
    left: 1%;
    top: 1%;
}

.topbar .social {
    width: 10%;
    position: absolute;
    top: 0;
    right: 0;
}

.topbar .social img:hover {
    opacity: 0.5;
}

.topbar .logo img {
    width: 50%;
    position: absolute;
    left: -10%;
}

.topbar .social img {
    width: 30%;
    position: absolute;
    right: 10%;
    margin-top: 10%;
}

.topbar .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 3%;
}

.topbar .navbar a {
    margin: 0 10%;
    color: #ccc;
    -webkit-transform: scale(2);
        -ms-transform: scale(2);
            transform: scale(2);
}

.topbar .navbar a:hover {
    color: #02A4FF;
}

@media only screen and (max-width: 1230px) {
    .topbar .social img {
        width: 40%;
    }
}

@media only screen and (max-width: 1000px) {
    .topbar .social img {
        width: 50%;
    }
}

@media only screen and (max-width: 780px) {
    .topbar .social img {
        width: 60%;
    }
}

@media only screen and (max-width: 580px) {
    .topbar .social img {
        width: 70%;
        right: 20%;
        margin-top: 20%;
    }

    .topbar .navbar {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        text-align: center;
        width: 60%;
    }

    .topbar .navbar a {
        -webkit-transform: scale(1.5);
            -ms-transform: scale(1.5);
                transform: scale(1.5);
        margin: 5% 0;
        margin-left: 60%;
    }

    .topbar .logo {
        display: none;
    }
}

@media only screen and (max-width: 470px) {
    .topbar .social img {
        width: 80%;
    }
}

@media only screen and (max-width: 320px) {
    .topbar .social img {
        width: 90%;
    }
}

.alert {
    -webkit-animation: alert 1s infinite;
            animation: alert 1s infinite;
}

@-webkit-keyframes alert {
    0% {
        color: #ff1700;
    }

    50% {
        color: #000;
    }

    100% {
        color: #ff1700;
    }
}

@keyframes alert {
    0% {
        color: #ff1700;
    }

    50% {
        color: #000;
    }

    100% {
        color: #ff1700;
    }
}